
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;

}

.myglobal{
  color: rgb(21, 45, 228);
  /* background-color: yellowgreen; */
  font-size: large;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeQnXblarg2JMXuUMCGvlZkmlwR2ImzQtmWGh_ff4LfLb6lCe9bLCDCYLnkjKXUH3BDF8&usqp=CAU');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgb(155, 165, 42);
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
button:hover{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.34),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
image:hover{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.34),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}



